*.iml
.gradle
local.properties
.idea/
.kotlin/
.gradle/
build/
**/build/
app/build/
captures/
.externalNativeBuild/
.cxx/
*.iml
.DS_Store


*.jks
*.keystore
keystore.properties

*.apk
*.aab
*.ap_
release/
**/release/
!app/src/release/
!app/src/release/**

*.log
/.idea/

.claude/
scripts/
*.cipher
node_modules/
**/node_modules/