*.iml
.gradle
local.properties
.idea/
.kotlin/
.gradle/
build/
**/build/
app/build/
captures/
.externalNativeBuild/
.cxx/
*.iml
.DS_Store

gradlew
gradlew.bat
gradle/wrapper/

*.jks
*.keystore
keystore.properties

*.apk
*.aab
*.ap_
release/
**/release/

*.log
/.idea/

.claude/